<table>
  <caption>
    {{title}}
  </caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Last name</th>
      <th>Foto</th>
      <th>Email</th>
      <th>Phone</th>
      <th>City</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.lastname }}</td>
      <td><img [src]="user.picture.thumbnail" [alt]="user.name + user.lastname"></td>
      <td>{{ user.email }} </td>
      <td>{{ user.phone }}</td>
      <td>{{ user.city }}</td>
      <td>{{ user.age }}</td>
      <!--<td>
        <button (click)="editUser(user)">Edit</button>
        <button (click)="deleteUser(user)">Delete</button>
      </td>-->
    </tr>
  </tbody>
</table>
